<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="inventory.Properties.Settings.inventorydbConnectionString"
            connectionString="Data Source=MELISHAT;Initial Catalog=inventorydb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>